/* For screens smaller than 768px (e.g., mobile devices) */
@media (max-width: 768px) {
  .Sidebar {
    width: 100%; /* Make the sidebar occupy the full width */
    background-color: blue;
  }

  .Title {
    font-size: 2rem; /* Reduce the font size for the title */
    margin-bottom: 10px; /* Reduce the margin to save space */
  }

  li {
    margin-bottom: 5px; /* Reduce the margin for list items */
  }

  button {
    font-size: 1.5rem; /* Reduce the font size for buttons */
    padding: 8px; /* Reduce the padding for buttons */
  }
}


.Sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background-color: green;
    padding: 20px;
    color:black;
  }
  
  .Title {
    display: flex;
    font-size: 5vw;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 5vw;
  }
  
  li {
    margin-bottom: 10px;
    font-size: 5vw;

  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: pink;
    color: #000000;
    border: none;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
  }
  
  button:hover {
    background-color: rgb(214, 89, 110);
  }

  button:click {
    background-color: rgb(78, 19, 29);
  }
  